extends layout

block content
  h1= "Welcome !"
  .container
    ul
      li
        a(href="/wordpress",target='__blank') Owner's Wordpress
      li
        a(href="/backlink",target='__blank')  Available Backlink 
      li
        a(href="/dataset",target='__blank') Dataset
      li
        a(href="/test-log") Log
      
