extends layout

block content
    .container
        fieldset
            legend Detail 
            a(href="/dataset") <-Back
            input#id(type="hidden",value="#{site.id}",name="id")
            .form-group
                label Username :  &nbsp;
                span #{site.username}
            .form-group
                label(for="") Domain :   &nbsp;
                span #{site.domain}
            .form-group
                lable Password
                input#password.form-control(type="text", name="password",value="#{site.password}")
            .form-group
                button.btn.btn-success#change-site Edit 
                &nbsp; &nbsp;
                button.btn.btn-danger#remove-site Remove
            #alerts
            
