extends layout

block content
    .container
        fieldset
            legend Detail 
            a(href="/dataset") <-Back
            input#id(type="hidden",value="#{post.id}",name="id")
            .form-group
                label title :  &nbsp;
                input#title.form-control(type="text",name="title",value="#{post.title}")
            .form-group
                label(for="") First :   &nbsp;
                textarea#first.form-control(name="first", cols="30", rows="10") #{post.first}
            .form-group
                label(for="") Second :   &nbsp;
                textarea#second.form-control(name="second", cols="30", rows="10") #{post.second}
            .form-group
                label(for="") Third :   &nbsp;
                textarea#third.form-control(name="third", cols="30", rows="10") #{post.third}
            .form-group
                button.btn.btn-danger#change-post Edit
                &nbsp; &nbsp;
                button.btn.btn-danger#remove-post Remove
            #alerts