extends layout

block content
  h1.text-center= "Submit Posts :>)"
  .container
    form(action="/wordpress",method="post")
        .form-group
            label(for="site") Site
            input#site.form-control(type="text", name="site",required="")
        .form-group
            label(for="Owner's wordpress") Select Domain
            select#domain.chosen-select(name="domain",multiple="",data-placeholder="Chọn domain" )
                option(value="0") All
                each set in sites
                    option(value="#{set.id}") #{set.domain}
        .form-group
            fieldset
                legend Details :
                .row
                    .col-md-3
                        .form-group
                            label(for="name") Name
                            input#name.form-control(type="text", name="name",required="")
                    .col-md-3
                        .form-group
                            label(for="investor") Investor
                            input#investor.form-control(type="text", name="investor",required="")
                    .col-md-3
                        .form-group
                            label(for="address") Address
                            input#address.form-control(type="text", name="address",required="")
                    .col-md-3
                        .form-group
                            label(for="image") URL image
                            input#image.form-control(type="text", name="image",required="")
        .form-group
            button.btn.btn-success(type="submit") Submit
    hr
    table.table.table-hover
        thead
            tr
                td #
                td Domain
                td Username
                td Password
        tbody
            each set in sites
                tr
                    td #{set.id}
                    td #{set.domain}
                    td #{set.username}
                    td.pass #{set.password}
           
    
      
