doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://api.homesvinagroup.com/admin/lib/chosen.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://api.homesvinagroup.com/admin/js/core/jquery.min.js")
    script(src="https://api.homesvinagroup.com/admin/lib/chosen.jquery.min.js")
  body
    block content
    script(src="/script/js.js")
