extends layout


block content_1
  
  fieldset
    legend Site
    hr
    .table-responsive
        button.btn.btn-success#add-site Add site 
        table.table.table-hover
            thead
                tr
                    td
                    td #
                    td Domain
                    td Username
                    td Password
             tbody
                each set in sites
                    tr
                        td 
                            a(href="/dataset/edit?type=site&id=#{set.id}") Edit
                        td #{set.id}
                        td #{set.domain}
                        td #{set.username}
                        td.pass #{set.password}
block content_2
  fieldset
    legend Sample
    hr
    .table-responsive
        button.btn.btn-success#add-post Add post 
        table.table.table-hover
            thead
                tr
                    td #
                    td title
                    td
            tbody
                each sam in posts
                    tr
                        td #{sam.id}
                        td #{sam.title}
                        td 
                            a(href="/dataset/edit?type=post&id=#{sam.id}") Edit 
                            
block multi_modal
    #create-site.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Create site ++++++
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    form(action="/dataset/add-site", method="post")
                        .form-group
                            label Site
                            input.form-control(type='text', name='site', required='')
                        .form-group
                            label Username
                            input.form-control(type='text', name='username', required='')
                        .form-group
                            label Password
                            input.form-control(type='text', name='password', required='')
                        .form-group
                            button.btn.btn-success(type='submit') Create ++

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
    #create-post.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Create post ++++++
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    ul
                     li Name = ${NAME}
                     li Address = ${ADDRESS}
                     li Investor = ${INVESTOR}
                     li ImageSrc = ${IMAGE}
                     li Link = ${LINK} 
                    form(action="/dataset/add-article", method="post")
                        .form-group
                            label Title
                            input.form-control(type='text', name='title', required='')
                        .form-group
                            label First
                            textarea.form-control(name="first", cols="30", rows="10")
                        .form-group
                            label Second
                            textarea.form-control(name="second", cols="30", rows="10")
                        .form-group
                            label Third
                            textarea.form-control(name="third", cols="30", rows="10")
                        .form-group
                            button.btn.btn-success(type='submit') Create ++
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                       
    