doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://api.homesvinagroup.com/admin/lib/chosen.min.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://api.homesvinagroup.com/admin/js/core/jquery.min.js")
    script(src="https://api.homesvinagroup.com/admin/lib/chosen.jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
  body
    .container
      h1 Dataset
      hr
      a(href="/") back
      .row
        .col-md-6
          block content_1
        .col-md-6
          block content_2
      block multi_modal 
    script(src="/script/js.js")
